<gaze-workspace input-engine="eye_tracking_test">

  <h1>Example</h1>

  <div class="panel panel-default custom-panel">
    <div class="row custom-row">
      <div class="col-md-4 custom-action" on-dwell="alert('1')">test 1</div>
      <div class="col-md-4 custom-action" on-dwell="alert('2')">test 2</div>
      <div class="col-md-4 custom-action" on-dwell="alert('3')">test 3</div>
    </div>
    <div class="row custom-row">
      <div class="col-md-4 custom-action" on-dwell="alert('4')">test 4</div>
      <div class="col-md-4 custom-action" on-dwell="alert('5')">test 5</div>
      <div class="col-md-4 custom-action" on-dwell="alert('6')">test 6</div>
    </div>
  </div>

</gaze-workspace>
