<gaze-workspace input-engine="eye_tracking_test">
  <gaze-cursor>
    <div class="word0 hidden">
      <span class="bg">top</span>
    </div>
    <div class="word1">
      <span class="bg">left</span>
    </div>
    <div class="word2" ng-class="{ hidden: !currentWord }">
      <span class="bg">{{currentWord}} <span ng-show="startingNewWord">(...)</span></span>
    </div>
    <div class="word3">
      <span class="bg">right</span>
    </div>
  </gaze-cursor>

  <div class="panel panel-default custom-panel">
    <keyboard></keyboard>
  </div>

</gaze-workspace>
