<gaze-workspace>

  <h1>Example</h1>

  <div class="panel panel-default custom-panel">
    <div class="row custom-row">
      <div class="col-md-4 custom-action">test 1</div>
      <div class="col-md-4 custom-action">test 2</div>
      <div class="col-md-4 custom-action">test 3</div>
    </div>
    <div class="row custom-row">
      <div class="col-md-4 custom-action">test 4</div>
      <div class="col-md-4 custom-action">test 5</div>
      <div class="col-md-4 custom-action">test 6</div>
    </div>
  </div>

</gaze-workspace>
