.activable
  -webkit-transition: background-color 1000ms linear
  -moz-transition: background-color 1000ms linear
  -o-transition: background-color 1000ms linear
  -ms-transition: background-color 1000ms linear
  transition: background-color 1000ms linear

  &.activating
    background-color: rgba(255,255,100,0.3)

  &.deactivating
    background-color: rgba(255,255,100,0)
    -webkit-transition: background-color 1000ms linear
    -moz-transition: background-color 1000ms linear
    -o-transition: background-color 1000ms linear
    -ms-transition: background-color 1000ms linear
    transition: background-color 1000ms linear

  &.active
    background-color: rgba(255,255,100,0.5)

  &.trigger
    background-color: rgba(255,255,100,0.8)
